*{font-size:x-large;font-family:'Ubuntu','Arial',monospace;}
body{text-align:center;color: white; background-color: black;}
h1{background:#D0D0D0;border-radius:0.3rem;line-height:1.8rem;}
h1.OK{background:#00FF00;}
h1.FAIL{background:#FF0000;}
a{color:#FFFFFF;text-decoration:none;}
a:hover{color:#FF7F00;}
a.del{color:#FF7F00;background-color:#FF0000;}
a.del:hover{color:#FFFFFF;background-color:#FF0000;}
div,input{padding:5px;}
input{width:85%; border-radius: 0%;color:#FFFFFF;background:#202020;}
input:hover{background:#FF7F00;}
button{border:0;border-radius:0.3rem;background-color:#FF7F00;color:#FFFFFF;line-height:1.4rem;width:100%;}
.c{text-align:center;}
.q{float:right;width:64px;text-align:right;}
.content{max-width:750px;margin:auto;padding:0px;}
.cr{font-size:medium;}
